div {
    outline: black solid .1vw;
    display: flex;
}
div.cell:hover{
    -webkit-box-shadow:inset 0px 0px 0px .25vw white;
    -moz-box-shadow:inset 0px 0px 0px .25vw white;
    box-shadow:inset 0px 0px 0px .25vw white;
}

a {
    color: white;
    text-decoration: none;
    display:flex;
    flex:1;
}

.wrapper {
    width: 95vw;
    height: 100vh;
    border: none;
}

.table {
    width: 80%;
    height: 80%;
    min-height: 400px;
    min-width: 400px;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.cell {
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px;
}
